<header>
    <p>Page Header</p>


    <ul>
        <% if(locals.user){%>
            <li>
                <a href="/users/profile">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/codial-sign-out">Sign Out</a>
            </li>
        <% }else{ %>
            <li>
                <a href="/users/codial-sign-in">Sign In</a>
            </li>
            <li>
                <a href="/users/codial-sign-up">Sign Up</a>
            </li>

            <% } %>
    </ul>
</header>